#correct-word {
    padding: 5px;
}

#correct-word:focus {
    border: none
}

main {
    width: 50%;
    margin: 0 auto;
    background-color: #000;
    padding: 10px 0px 25px 0px;
}

h1 {
    color: #0000ff;
    text-align: center;
}

#displayed-word {
    
        text-align: center;
        color: #0000ff;
    
}

h2 {
    text-align: center;
    color: #fff;
}

input[type="text"] {
    margin-left: 36%;
    font-size: 16px;
    text-align: center;
}

input:focus {
    outline: none;
}

#submit-button{
    margin-left: 35%;
    color: white;
    background-color: #000;
    font-size: 16px;
}

#new-word, #reset{
    color: white;
    background-color: #000;
    font-size: 16px;
}
